* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #ADADAD;
    height: 80px;
    width: 100%;
    position: relative;
}

h1 {
    color: white;
    position: absolute;
    left: 200px;
    top: 0;
    line-height: 80px;
    font-size: 40px;

}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;

}

header li {
    display: inline;
    margin-right: 4vw;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

footer {
    background-color: #ADADAD;
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a {
    display: flex;
    font-family: 微軟正黑體;
}

.a img {
    width: 25%;
    border-radius: 10px;
}

.b {
    width: 50%;
    background-color: #EBD6D6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "微軟正黑體"
}

.b h2 {
    font-size: 25px;
    margin-bottom: 20px;
    align-items: center;
}

.b p {
    text-align: center;
    line-height: 1em;
    font-size: 18px;
    font-family: "微軟正黑體"
}

.LINE {
    border-radius: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 80%;
}

.IG {
    border-radius: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 85%;
}

.GMAIL {
    display: flex;
    width: 60px;
    height: 50px;
    position: absolute;
    left: 90%;
}

.card_2 {
    display: flex;
    width: 1080px;
    background-color: #EBD6D6;
    border-radius: 10px;
    top: 10px;
}

.right {
    float: right;
    padding-right: 0px;

}

.skill {
    background-color: #EBD6D6;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    border-radius: 10px;
}

.skill div {

    width: 300px;
    text-align: center;
}

.skill img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    font-size: 25px;
    font-family: 微軟正黑體;



}

.skill p {
    font-size: 12px;
}

.card {
    background-color: #cb9090;
    padding: 50px;
    margin: 20px 10px;
    border-radius: 15px;
    background-size: cover;
}



.exp div {
    width: 300px;
    text-align: center;
}

.c-exp {
    width: 500px;
    padding: 10px 6px;
    text-align: center;
}

.c-exp exp_img {
    width: 100%;
    border-radius: 10px;
}

.exp h3 {
    font-size: 25px;
}

.exp p {
    font-size: 14px;
    line-height: 1.6em;
}

.project p {
    font-size: 18px;
    font-family: 微軟正黑體;
    margin: 15px;
    line-height: 1.6em;
    align-items: center;

}

.project h2 {
    font-size: 22px;
    font-family: 微軟正黑體;
    margin: 15px;
    align-items: center;
}